<app-header/>
<div class="container mt-5 checkinwraper">
  <h2 class="mb-4 text-center">User Check-In</h2>

  <div class="form-group">
    <label>Reference ID:</label>
    <input
      type="text"
      class="form-control"
      ng-model="$ctrl.referenceId"
      placeholder="Enter Reference ID"
    />
  </div>

  <button class="btn btn-warning my-5" ng-click="$ctrl.checkIn()">Check In</button>

  <!-- <div class="mt-3" ng-if="$ctrl.checkInId">
    <h4>Check-In Successful!</h4>
    <p>
      Your Check-In ID: <strong>{{ checkInId }}</strong>
    </p>
  </div> -->
</div>
<app-footer/>