  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand" href="#">
        <span class="text-warning fw-bold">T</span>ripy
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a  routerLink="/" routerLinkActive="active" class="nav-link active" >Home</a>
          </li>
          <li class="nav-item" >
             <a class="nav-link" routerLink="/flights" routerLinkActive="active">Flights</a>
          </li>
           <li class="nav-item">
              <a class="nav-link" routerLink="/checkin" routerLinkActive="active">Check-In</a>
            </li>
         
        </ul>
       
        <div class="d-flex">
          <a routerLink="/login" class="btn btn-link text-dark text-decoration-none me-2">Log in</a>
          <a routerLink="/signup" class="btn btn-warning rounded-pill px-4">Sign In</a>
        </div>
      </div>
    </div>
  </nav>