<section
  class="private-flight bg-image text-dark py-5"
  style="background-image: url('/assets/city-bg.jpg'); background-size: cover"
>
  <div class="container bg-white p-4 rounded shadow w-75">
    <h4 class="text-warning">Booking Flight</h4>
    <h2>Request For Private Flight</h2>
    <form class="row g-3 mt-3">
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="From" />
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="To" />
      </div>
      <div class="col-md-6">
        <input type="date" class="form-control" placeholder="Departing Date" />
      </div>
      <div class="col-md-6">
        <input type="date" class="form-control" placeholder="Returning Date" />
      </div>
      <div class="col-md-6">
        <input
          type="text"
          class="form-control"
          placeholder="Select Passenger"
        />
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Country" />
      </div>
      <div class="col-12 text-end">
        <button class="btn btn-warning">Send</button>
      </div>
    </form>
  </div>
</section>
