<section class="py-5">
  <div class="container text-center">
    <h5 class="text-warning">Flight Schedules</h5>
    <h2 class="fw-bold">Aerox Flight Schedules</h2>
    <div class="row mt-4">
      <div class="col-md-6">
        <img
          src="assets/Images/a-b.jpg"
          class="img-fluid rounded mb-3"
          alt="Flight Schedules"
        />
      </div>
      <div class="col-md-6">
        <form class="row g-3 mt-3">
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="From" />
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="To" />
          </div>
          <div class="col-md-6">
            <input
              type="date"
              class="form-control"
              placeholder="Departing Date"
            />
          </div>
          <div class="col-md-6">
            <input
              type="date"
              class="form-control"
              placeholder="Returning Date"
            />
          </div>
          <div class="col-12 text-end">
            <button class="btn btn-warning">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
